body,html{
    margin: 0;
    padding: 0;
    --text: #f3fcf3;
    --background: #030c03;
    --primary: #34c534;
    --secondary: #0b280b;
    --accent: #36c936;
    background: var(--background);
    font-family: 'JetBrains Mono', monospace;
}

.bigtext
{
    color: var(--text);
    font-size: 100px;
    overflow: hidden;
    animation-name: tr;
    animation-delay: 2s;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes tr {
    0% {color: rgb(255, 255, 255);}
    50% {color: rgba(255, 255, 255, 0);}
    100% {color: rgb(255, 255, 255);}
  }

.grtext
{
    color: var(--text);
    font-size: 10px;
    overflow: hidden;
}


.center
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.big
{
    background: var(--background);
    width: 100vw;
    height: 100vh;
}
.links
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.linktext
{
    color: var(--text);
    border-color: var(--secondary);
    margin: 10px;
}

.linktext:hover
{
    color: var(--primary);
}